
{% extends 'homepage.html' %}

{% block style %}
  span.new{
    display: none;
  }
  .product-cards-container.container{
    margin: auto;
    padding: 0px;
  }
  .discount{
    top: 10px!important;
  }
  .nav-item.active .nav-link{
    color: #262626!important;
  }
  .nav-item.active::after{
    background: #262626!important;
    width: 100%!important;
  }
  .sorting-dropdown .dropdown-item{
    font-size: 14px;
  }
  .sorting-dropdown .dropdown-item:hover{
    color: #f6f6f6!important;
    background: #262626;
  }

  @media (max-width: 768px){
    .productImg {
      max-width: 190px;
    }
  }
  @media (max-width: 425px){
    .productImg {
      max-width: 40vw;
    }
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}
<div class="container mb-5">
  <div class="row p-1 my-3">
    <div class="col-md-8 mb-3 px-0">
        <ul class="d-flex justify-content-left list-inline m-0">
          {% for collection in collections %}
            <li class="nav-item {% if collection.slug == catalog_slug %}active{% endif %}" style="text-align: center; width: min-content;"><a class="nav-link" href="{% url 'catalog' collection.slug %}">{{ collection }}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="col-md-4 mb-3">
      <div class="container dropdown d-flex px-1" style="justify-content: right;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
          style="
            background: transparent;
            color: grey;
            font-size: 110%;
            border: 0;
            border-radius: 0px;">
          Сортировать по
        </a>
        <ul class="sorting-dropdown dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item py-3" href="{% url 'catalog' catalog_slug %}?price=down">Цена (по убыв.)</a></li>
          <li><a class="dropdown-item py-3" href="{% url 'catalog' catalog_slug %}?price=up">Цена (по возр.)</a></li>
          <li><a class="dropdown-item py-3" href="{% url 'catalog' catalog_slug %}?newer=down">Новизна (нов.)</a></li>
          <li><a class="dropdown-item py-3" href="{% url 'catalog' catalog_slug %}?newer=up">Новизна (стар.)</a></li>
          <li><a class="dropdown-item py-3" href="{% url 'catalog' catalog_slug %}?discount=down">Скидка (больш.)</a></li>
          <li><a class="dropdown-item py-3" href="{% url 'catalog' catalog_slug %}?discount=up">Скидка (меньш.)</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col m-0 p-0">
    {% include 'product/products_wrapper.html' %}
  </div>
</div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}
