{% extends 'homepage.html' %}

{% load static %}
{% load thumbnail %}
{% block header %}
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/cart/cart.css' %}">
  <!--===============================================================================================-->
    <!-- SDEK widget -->
      <script id="ISDEKscript" type="text/javascript" src="https://widget.cdek.ru/widget/widjet.js" charset="utf-8"></script>
  <!--===============================================================================================-->
      <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>

{% endblock header %}

{% block style %}
  label>.text-muted {
    color: red!important;
  }
  .form-floating{
    margin-bottom: 10px;
  }

  input, textarea {
    background: #f6f6f6;
    border: 0px solid!important;
    border-bottom: 1px solid lightgrey!important;
    border-radius: 0!important;
  }
  textarea {
    cursor: default;
  }
  .tinkoffPayRow{
    display:block;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container" style="max-width: 600px;">
    <div class="py-4 text-center">
      <h1>Оплата и подтверждение заказа</h1>
    </div>

    <div class="row">
      <div class="order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Заказ</span>
          <span class="badge bg-primary rounded-pill"> {{ cart.total_products }} </span>
        </h4>
        <ul class="list-group mb-3">

          {% for item in products_in_cart %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{ item.qty }} x {{ item.colored_product.product.name }}</h6>
                <small class="text-muted">{{ item.colored_product.name }} - {{ item.size }} размер</small>
              </div>
              <span class="text-muted">{{ item.colored_product.price }}</span>
            </li>
          {% endfor %}

          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Промокод</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">− 0 руб.</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Итого</span>
            <strong>{{cart.final_price}} руб.</strong>
          </li>

        </ul>
      </div>
    </div>
    <div>
      <div class="">
          {% comment %} <div class="col my-4">
            <div class="form-floating">
              <input class="form-control" id="firstName" value="Conor" readonly>
              <label for="firstName" class="form-label">Имя</label>
            </div>
            
            <div class="form-floating">
              <input type="text" class="form-control" id="lastName" value="McGregor" readonly>
              <label for="lastName" class="form-label">Фамилия</label>
            </div>

            <div class="form-floating">
              <input type="email" class="form-control" id="email" value="email@example.com" readonly>
              <label for="email" class="form-label">Email</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="phone" value="666999" readonly>
              <label for="phone" class="form-label">Номер телефона</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="chosenPost" value="{{ delivery_details.chosenPost }}" readonly>
              <label for="chosenPost" class="form-label">Номер ПВЗ</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="addresPost" value="{{ delivery_details.addresPost }}" readonly>
              <label for="addresPost" class="form-label">Адрес ПВЗ</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="pricePost" value="{{ delivery_details.pricePost }}" readonly>
              <label for="pricePost" class="form-label">Стоимость доставки</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="timePost" value="{{ delivery_details.timePost }}" readonly>
              <label for="timePost" class="form-label">Приблизительное время доставки</label>
            </div>
          </div> {% endcomment %}

          <h4 class="mb-3">Оплата</h4>

          <form name="TinkoffPayForm needs-validation mx-0 px-0" onsubmit="pay(this); return false;">
            {% csrf_token %}
            <input class="tinkoffPayRow" type="hidden" name="terminalkey" value="1663090406118DEMO">
            <input class="tinkoffPayRow" type="hidden" name="frame" value="true">
            <input class="tinkoffPayRow" type="hidden" name="language" value="ru">

            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="Сумма заказа" id="amount" name="amount" value="{{ cart.final_price }}" readonly required>
              <label for="amount" class="form-label">Сумма заказа</label>
            </div>
            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="Номер заказа" id="order" name="order">
              <label for="order" class="form-label">Номер заказа</label>
            </div>
            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="Описание заказа" name="description">
              <label class="form-label">Описание заказа</label>
            </div>
            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="ФИО плательщика" name="name">
              <label class="form-label">ФИО плательщика</label>
            </div>
            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="E-mail" name="email">
              <label class="form-label">E-mail</label>
            </div>
            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="Контактный телефон" name="phone">
              <label class="form-label">Контактный телефон</label>
            </div>
            <input class="tinkoffPayRow w-100 btn btn-dark btn-lg my-3 mb-5" type="submit" value="Оплатить">
          </form>

      </div>
    </div>
  </div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
