{% extends 'homepage.html' %}

{% load cart_filters %}
{% load static i18n thumbnail %}

{% block header %}
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/cart/cart.css' %}">
  <!--===============================================================================================-->
    <!-- SDEK widget -->
      <script id="ISDEKscript" type="text/javascript" src="https://widget.cdek.ru/widget/widjet.js" charset="utf-8"></script>
  <!--===============================================================================================-->
      <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
  <!--===============================================================================================-->
{% endblock header %}

{% block style %}
  label>.text-muted {
    color: red!important;
  }
  .form-floating{
    margin-bottom: 10px;
  }

  .form-control {
    display:block;
    background: #f6f6f6!important;
    border: 0px solid!important;
    border-bottom: 1px solid lightgrey!important;
    border-radius: 0!important;
  }
  textarea {
    cursor: default;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container" style="max-width: 600px;">
    <div class="py-4 text-center">
      <h1>Оплата и подтверждение заказа</h1>
    </div>

    <div class="row">
      <div class="order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Заказ</span>
          <span class="badge bg-primary rounded-pill"> {{ cart.total_products }} </span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in products_in_cart %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{ item.qty }} x {{ item.colored_product.product.name }}</h6>
                <small class="text-muted">{{ item.colored_product.name }} - {{ item.size }} размер</small>
              </div>
              <span class="text-muted">
                {% if item.subtotal_price_before_discount %}{{ item.subtotal_price_before_discount }}{% else %}{{ item.subtotal_price }}{% endif %} {% trans "₽" %}
              </span>
            </li>
          {% endfor %}

          {% if cart.promocode %}
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Промокод</h6>
                <small>{{ cart.promocode }}</small>
              </div>
              <span class="text-success">− {{ cart.price_before_discount|sub:cart.final_price }} {% trans "₽" %}</span>
            </li>
          {% endif %}

          <li class="list-group-item d-flex justify-content-between">
            <span>Доставка</span>
            {{ delivery_details.pricePost }} {% trans "₽" %}
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>
              <strong>Итого к оплате</strong>
            </span>
            <span>
              <strong>
                {{ cart.final_price|add_decimal:delivery_details.pricePost }} {% trans "₽" %}
              </strong>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="">
        <div class="col my-4">
          <h4 class="mb-3">Оплата</h4>
          <form name="TinkoffPayForm mx-0 px-0">
            {% csrf_token %}
            {% comment %} <input class="tinkoffPayRow" type="hidden" name="terminalkey" value="1663090406118DEMO"> {% endcomment %}
            <input class="tinkoffPayRow" type="hidden" name="terminalkey" value="1663090406118DEMO">
            <input class="tinkoffPayRow" type="hidden" name="frame" value="false">
            <input class="tinkoffPayRow" type="hidden" name="language" value="ru">

            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="ФИО плательщика" name="name" value="{{ order_details.lastName }} {{ order_details.firstName }}" readonly required>
              <label class="form-label">ФИО плательщика</label>
            </div>

            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="E-mail" name="email" value="{{ order_details.email }}" readonly required>
              <label class="form-label">E-mail</label>
            </div>

            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="text" placeholder="Контактный телефон" name="phone" value="{{ order_details.phone }}" readonly required>
              <label class="form-label">Контактный телефон</label>
            </div>

            <div class="form-floating">
              {% if delivery_details.delivery_type == "pickup" %}
                <input type="text" class="form-control" id="delivery_type" value="Самовывоз из ПВЗ" readonly>
              {% else %}
                <input type="text" class="form-control" id="delivery_type" value="Курьер" readonly>
              {% endif %}
              <label for="delivery_type" class="form-label">Тип доставки</label>
            </div>

            <div class="form-floating">
              <input type="hidden" class="form-control" id="chosenPost" value="{{ delivery_details.chosenPost }}" readonly>
              <label for="chosenPost" class="form-label">Код ПВЗ</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="cityPost" value="{{ delivery_details.cityPost }}" readonly>
              <label for="cityPost" class="form-label">Город</label>
            </div>

            <div class="form-floating">
              <textarea type="text" class="form-control"
                onkeydown="return false;"
                style="caret-color: transparent !important; height: auto;"
                readonly required>{{ delivery_details.addresPost }}</textarea>
              <label for="addresPost" class="form-label">Адрес</label>
            </div>

            <div class="form-floating">
              <input class="tinkoffPayRow form-control" type="hidden" placeholder="Сумма заказа" id="amount" name="amount"
                value="{{ cart.final_price|add_decimal:delivery_details.pricePost }}"
                readonly required>
              <label for="amount" class="form-label">Сумма заказа с доставкой(руб.)</label>
            </div>

            <div class="form-floating">
              <input type="hidden" class="form-control" id="pricePost" value="{{ delivery_details.pricePost }}" readonly>
              <label for="pricePost" class="form-label">Стоимость доставки (руб.)</label>
            </div>

            <div class="form-floating">
              <input type="text" class="form-control" id="timePost" value="{{ delivery_details.timePost }}" readonly>
              <label for="timePost" class="form-label">Время доставки (дни)</label>
            </div>

            <div class="form-floating">
              <textarea type="text" class="form-control"
                onkeydown="return false;"
                style="caret-color: transparent !important; height: auto;"
                readonly required>{{ delivery_details.order_comment }}</textarea>
              <label for="orderComment" class="form-label">Комментарий к заказу</label>
            </div>

            <input class="tinkoffPayRow" type="hidden" name="receipt" value="">
            <script type="text/javascript">
              function tinkoffPayFunction(target) {
                let form = target.parentElement;
                let email = form.email.value;
                let phone = form.phone.value;

                if (amount && email && phone) {
                  form.receipt.value = JSON.stringify({
                    "Email": email,
                    "Phone": phone,
                    "EmailCompany": "kirumiwork@gmail.com",
                    "Taxation": "usn_income",
                    "amount": {{ cart.final_price|add_decimal:delivery_details.pricePost|comma_to_point }},
                    "Items": [
                      {% for item in products_in_cart %}
                        {
                          "Name": "{{ item.get_receipt_name }}",
                          "Price": {{ item.colored_product.price|to_penny }},
                          "Quantity": {{ item.qty|comma_to_point }},
                          "Amount": {{ item.subtotal_price|to_penny }},
                          "Tax": "none"
                        },
                      {% endfor %}
                      {
                        "Name": "{% trans "ДОСТАВКА" %}",
                        "Price": {{ delivery_details.pricePost|to_penny }},
                        "Quantity": 1,
                        "Amount": {{ delivery_details.pricePost|to_penny }},
                        "Tax": "none"
                      },
                    ]
                  });
                  pay(form);
                } else alert("Не все обязательные поля заполнены")
                return false;
              }
            </script>
            <input class="tinkoffPayRow w-100 btn btn-dark btn-lg my-4 mb-5" style="background: #262626!important;" type="button" onclick="tinkoffPayFunction(this);" value="Оплатить"/>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
