beautifulsoup4==4.8.2
cryptography==36.0.2
Django==4.0.3
django-crispy-forms==1.14.0
django-modeltranslation==0.18.4
djangorestframework==3.12.4
httpx==0.23.0
Jinja2==3.0.3
Pillow==9.1.0
requests==2.27.1
fs-cdek-api==1.4.1
sorl-thumbnail==12.9.0