{% extends 'homepage.html' %}

{% load cart_filters %}

{% load static i18n thumbnail %}

{% block header %}
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/cart/cart.css' %}">
  <!--===============================================================================================-->
    <!-- SDEK widget -->
      <script id="ISDEKscript" type="text/javascript" src="https://widget.cdek.ru/widget/widjet.js" charset="utf-8"></script>
      <script src="https://widget.cdek.ru/widget/scripts/ipjq.js" type="text/javascript"></script>
      <link href="https://widget.cdek.ru/widget/scripts/style.css" rel="stylesheet" type="text/css">
      <script src="https://widget.cdek.ru/widget/scripts/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
  <!--===============================================================================================-->
      <script src="{% static 'js/vue/vue.global.prod.js' %}"></script>

{% endblock header %}

{% block style %}
  label>.text-muted {
    color: red!important;
  }
  input, textarea {
    background: #f6f6f6;
    border: 0px solid!important;
    border-bottom: 1px solid lightgrey!important;
    border-radius: 0!important;
  }
  textarea {
    cursor: default;
  }
  .btn.btn-dark{
    border-radius: 0;
  }
  .dropdown-item {
    text-align: left;
    white-space: pre-wrap;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container" id="app">
    <main>
      <div class="py-4 text-center">
        <h1>Оформление заказа</h1>
        <p class="lead"></p>
      </div>

      <div class="row g-5">
        <div class="col-md-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Заказ</span>
            <span class="badge bg-primary rounded-pill" id="total"> {{ cart.total_products }} </span>
          </h4>
          <ul class="list-group mb-3">

            {% for item in products_in_cart %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{ item.qty }} x {{ item.colored_product.product.name }}</h6>
                  <small class="text-muted">{{ item.colored_product.name }} - {{ item.size }} размер</small>
                </div>
                <span class="text-muted">
                  {% if item.subtotal_price_before_discount %}{{ item.subtotal_price_before_discount }}{% else %}{{ item.subtotal_price }}{% endif %} {% trans "₽" %}
                </span>
              </li>
            {% endfor %}

            {% if cart.promocode %}
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                  <h6 class="my-0">Промокод</h6>
                  <small>{{ cart.promocode }}</small>
                </div>
                <span class="text-success">− {{ cart.price_before_discount|sub:cart.final_price }} {% trans "₽" %}</span>
              </li>
            {% endif %}

            <li class="list-group-item d-flex justify-content-between">
              <span>
                <strong>Итого</strong>
              </span>
              <span>
                <strong>
                  {{cart.final_price}} {% trans "₽" %}
                </strong>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>
                <strong>Доставка</strong>
              </span>
              <span>
                <strong id="shippingCost">
                   [[ shippingCost ]] {% trans "₽" %}
                </strong>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <form id="form1" class="" action="{% url 'payment' %}" method="post">
            {% csrf_token %}
            <div class="row g-3 mb-4">

              <div class="col-sm-5">
                <label for="firstName" class="form-label">Имя <span class="text-muted">*</span></label>
                <input type="text" class="form-control" name="firstName" id="firstName" value="" required/>
              </div>

              <div class="col-sm-7">
                <label for="lastName" class="form-label">Фамилия <span class="text-muted">*</span></label>
                <input type="text" class="form-control" name="lastName" id="lastName" value="" required/>
              </div>

              <div class="col-sm-7">
                <label for="email" class="form-label">Email <span class="text-muted">*</span></label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" value="" required/>
              </div>

              <div class="col-sm-5">
                <label for="phone" class="form-label">Номер телефона <span class="text-muted">*</span></label>
                <input type="phone" class="form-control" name="phone" id="phone" value="" required/>
              </div>

              <div class="col-12">
                <label for="city" class="form-label">Город <span class="text-muted">*</span></label>
                <input
                        class="form-control"
                        :class="validCity ? 'is-invalid' : ''"
                        list="datalistOptions"
                        name="city"
                        id="city"
                        v-model="cityQuery"
                        @keydown="updateCities"
                        required
                        autocomplete="off"
                >
                    <div class="dropdown-menu" :class="showCityList ? 'show' : ''">
                      <a v-for="city in cities" :key="city[0]" class="dropdown-item" href="#" @click.prevent="chooseCity(city)">[[ city[1] ]]</a>
                    </div>
                  <div class="invalid-feedback">
                    Пожалуйста, выберите город из списка
                  </div>

              </div>
              <div class="col-12">
                <label class="form-label"><span class="text-muted">*</span> - поля обязательные для заполнения</label>
              </div>

              <div class="col-12">
                <label class="form-label">Выберите способ доставки</label><br>
                <small class="text-muted form-text">Стоимость доставки будет определена после ввода адреса</small>
              </div>
              <div class="col-12">
                  <div class="form-check d-flex justify-content-between">
                    <span>
                        <input v-model="shippingMethod" class="form-check-input" type="radio" name="ship" id="ship2" value="courier" @click="checkCity">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Курьер
                        </label>
                   </span>
                  </div>
                  <div class="form-check form-check d-flex justify-content-between">
                      <span>
                        <input v-model="shippingMethod" class="form-check-input" type="radio" name="ship" id="ship3" value="pickup" @click="checkCity">
                        <label class="form-check-label" for="flexRadioDefault3">
                          ПВЗ
                        </label>
                      </span>

                  </div>
              </div>

            </div>
            <div v-show="shippingMethod === 'pickup'" class="mb-4" id="forpvz" style="height:600px;"></div>
            <script>
              var widjet = new ISDEKWidjet({
                showWarns: true,
                showErrors: true,
                showLogs: true,
                hideMessages: false,

                country: 'Россия',
                defaultCity: 'Москва',
                cityFrom: 'Москва',
                inregion: true,
                link: 'forpvz',
                path: 'https://widget.cdek.ru/widget/scripts/', //директория с библиотеками
                choose: true,
                hidedress: false,
                hidedelt: true,
                detailAddress: false,
                goods: [{
                  length: 30,
                  width: 29,
                  height: 15,
                  weight: 1
                }],
                onChooseAddress: onChooseAddress,
                onChoose: onChoose
              });

              function onChooseAddress(info) {
                alert('Выбрана доставка курьером по адресу ' + info.address + "\n" +
                    'Цена ' + info.price + ' руб.' + "\n" +
                    'Ориентировочный срок доставки ' + info.term + ' дн.'
                );
                console.log('Выбрана доставка курьером ', info);

                ipjq('[name="chosenPost"]').val(info.id);
                ipjq('[name="addresPost"]').val(info.address);
                ipjq('[name="addresPost-show"]').val(info.address);
                ipjq('[name="pricePost"]').val(info.price);
                //ipjq('[name="timePost"]').val(info.term);
                ipjq('#forpvz').css('display','none');
                ipjq('.pencil-svg').css('display','none');
                ipjq('.addresPost-show-container').removeClass("col-12");
                ipjq('.addresPost-show-container').addClass("col-10");
              }

              function onChoose(info) { // при выборе ПВЗ: запишем номер ПВЗ в текстовое поле и доп. информацию

                const premium = document.getElementById('premium').innerText
                const total_price = parseInt(info.price) + parseInt(premium)

                alert('Выбрана доставка в пункт выдачи заказов по адресу ' + info.PVZ.Address + "\n" +
                  'Цена ' + total_price + ' руб.' + "\n" +
                  'Ориентировочный срок доставки от 7 до 14 дней'
                );
                console.log('Выбрана доставка в ПВЗ ', info);

                const price = document.getElementById('shippingCost');
                price.innerText = total_price + " ₽";

                const priceDouble = document.getElementById('shippingCostDouble');
                priceDouble.innerText = total_price + " ₽";

                const priceDoubleBlock = document.getElementById('double');
                priceDoubleBlock.style.display  = "block";

                ipjq('[name="chosenPost"]').val(info.id);
                ipjq('[name="addresPost"]').val(info.PVZ.Address);
                ipjq('[name="addresPost-show"]').val(info.PVZ.Address);
                ipjq('[name="pricePost"]').val(total_price);
                //ipjq('[name="timePost"]').val(info.term);
                ipjq('#forpvz').css('display','none');
                ipjq('.pencil-svg').css('display','block');
                ipjq('.addresPost-show-container').css('display','block');
                ipjq('.addresPost-show-container').removeClass("col-12");
                ipjq('.addresPost-show-container').addClass("col-10");
              }
            </script>

            <p><input type="hidden" name="chosenPost" value=""/></p>
            <div class="row">
              <div v-show="shippingMethod === 'courier'" class="col-12 addresPost-show-container">
                <label for="addresPost-show" class="form-label">Адрес <span class="text-muted">*</span></label>
                <input
                        v-model="addressQuery"
                        class="form-control"
                        :class="validAddress ? 'is-invalid' : ''"
                        list="datalistAddress1"
                        id="addresPost-show"
                        name="addresPost-show"
                        required
                        placeholder="Укажите точный адрес доставки курьером"
                        @keyup="updateAddresses"
                        @focusout="getDeliveryPrice"
                />
                  <div class="dropdown-menu" :class="showAddressList ? 'show' : ''">
                      <a v-for="address in addresses" :key="address" class="dropdown-item" href="#" @click.prevent="chooseAddress([[ address ]])">[[ address ]]</a>
                  </div>
                  <div class="invalid-feedback">
                    [[ errorMessage ]]
                  </div>
              </div>
              <div class="col-2 pencil-svg" style="display: none; margin-top: 32px; cursor: pointer; padding-left: 0;" onclick="setWidgetVisible()">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#343434" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </div>
              <script>
                function setWidgetVisible(info) {
                  ipjq('#forpvz').css('display','block');
                  ipjq('.pencil-svg').css('display','none');
                  ipjq('.addresPost-show-container').removeClass("col-10");
                  ipjq('.addresPost-show-container').addClass("col-12");
                }
              </script>
            </div>
            <p><input type="hidden" name="addresPost" value="" /></p>
            <p><input type="hidden" name="pricePost" value="" /></p>
            <p><input type="hidden" name="timePost" value="7-14" /></p>
            <p><input type="hidden" name="delivery_type" :value="shippingMethod" /></p>

            <div col="12" style="display: none;" id="double">
              <div class="d-flex justify-content-between">
                <span>Стоимость доставки</span>
                <span id="shippingCostDouble">[[ shippingCost ]] {% trans "₽" %}</span>
              </div>
            </div>

            <button type="submit" class="mb-5 mt-4 w-100 btn btn-dark btn-lg">Перейти к оплате</button>
          </form>

        </div>
      </div>
      <p hidden id="premium">[[ premium ]]</p>
    </main>
  </div>


{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
  {{ goods_data|json_script:"djangoData" }}
  <script src="{% static 'js/checkout.vue.js' %}"></script>
{% endblock scripts %}
