{% extends 'homepage.html' %}

{% load static %}
{% load thumbnail %}
{% block header %}
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/cart/cart.css' %}">
  <!--===============================================================================================-->
    <!-- SDEK widget -->
      <script id="ISDEKscript" type="text/javascript" src="https://widget.cdek.ru/widget/widjet.js" charset="utf-8"></script>
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
  label>.text-muted {
    color: red!important;
  }
  input[data-readonly] {
    pointer-events: none;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container">
    <main>
      <div class="py-4 text-center">
        <h1>Оформление заказа</h1>
        <p class="lead"></p>
      </div>
  
      <div class="row g-5">
        <div class="col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Заказ</span>
            <span class="badge bg-primary rounded-pill"> {{ cart.total_products }} </span>
          </h4>
          <ul class="list-group mb-3">

            {% for item in products_in_cart %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{ item.qty }} x {{ item.colored_product.product.name }}</h6>
                  <small class="text-muted">{{ item.colored_product.name }} - {{ item.size }} размер</small>
                </div>
                <span class="text-muted">{{ item.colored_product.price }}</span>
              </li>
            {% endfor %}

            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Промокод</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">−0 руб.</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Итого</span>
              <strong>{{cart.final_price}} руб.</strong>
            </li>

          </ul>
        </div>

        <div class="col-lg-8">
          <form class="needs-validation" action="{% url 'payment' %}" method="post" no-validation="">
            {% csrf_token %}
            <div class="row g-3  mb-4">

              <div class="col-sm-5">
                <label for="firstName" class="form-label">Имя <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="firstName" required />
              </div>

              <div class="col-sm-7">
                <label for="lastName" class="form-label">Фамилия <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="lastName" required />
              </div>

              <div class="col-sm-7">
                <label for="email" class="form-label">Email <span class="text-muted">*</span></label>
                <input type="email" class="form-control" id="email" placeholder="email@example.com" required />
              </div>

              <div class="col-sm-5">
                <label for="phone" class="form-label">Номер телефона <span class="text-muted">*</span></label>
                <input type="phone" class="form-control" id="phone" required />
              </div>

              <div class="col-12">
                <label class="form-label"><span class="text-muted">*</span> - поля обязательные для заполнения</label>
              </div>

            </div>

            <div class="mb-4" id="forpvz" style="height:600px;"></div>
            <script>
              var widjet = new ISDEKWidjet({
                cityFrom: 'Москва',
                country: 'Россия',
                link: 'forpvz',
                path: 'https://widget.cdek.ru/widget/scripts/',
                servicepath: '{% static 'php/SDEK/service.php' %}', //ссылка на файл service.php на вашем сайте
                choose: true,
                region: true,
                detailAddress: true,
                hidedress: true,
                onChoose: onChoose,
                onChooseAddress: onChooseAddress,
                onCalculate: onCalculate
              });
              function onChoose(wat) { // при выборе ПВЗ: запишем номер ПВЗ в текстовое поле и доп. информацию
                ipjq('[name="chosenPost"]').val(info.id);
                ipjq('[name="addresPost"]').val(info.PVZ.Address);
                // расчет стоимости доставки
                var price = (info.price < 500) ? 500 : Math.ceil( info.price/100 ) * 100;
                ipjq('[name="pricePost"]').val(price);
                ipjq('[name="timePost"]').val(info.term);
              }
              function onChooseAddress(wat) {
                ipjq('[name="addresPost"]').val(wat.address);
                /*
                alert('Выбрана доставка курьером по адресу ' + wat.address + "\n" +
                  'цена ' + wat.price + "\n" +
                  'срок ' + wat.term + ' дн.'
                );
                console.log('Выбрана доставка курьером по точному адресу', wat);
                */
              }
              function onCalculate(wat) {
                alert('Расчет стоимости доставки произведен');
              }
            </script>

            <p><input type="hidden" name="chosenPost" value="" /></p>
            <div class="col-md-12">
              <label for="addresPost" class="form-label">Адрес <span class="text-muted">*</span></label>
              <input type="text" class="form-control"
                id="addresPost" name="addresPost" value=""
                placeholder="Выберите адрес доставки в виджете СДЭК"
                required data-readonly
              />
              </div>
            <p><input type="hidden" name="pricePost" value="" /></p>
            <p><input type="hidden" name="timePost" value="" /></p>

            <button class="mb-5 mt-4 w-100 btn btn-primary btn-lg" type="submit">Перейти к оплате</button>
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
