{% extends 'homepage.html' %}

{% load static %}
{% load i18n %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
  .container{
    padding: 5vw;
    text-align: left;
  }
  h2{
    text-align: center;
  }
  ul{
    list-style-type: none;
  }

  .payment-container ol {
    counter-reset: item;
  }
  .payment-container ol li {
    display: block;
    padding-bottom: 15px;
    position: relative;
  }
  .payment-container ol > li::marker{
    font-weight: bold;
  }
  .payment-container ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    font-weight: bold;
    right: 10px; /* space between number and text */
  }

{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

<h2 class="fade-in pb-2 my-3">{% trans "Доставка" %}</h2>
<div class="container p-3 mb-3">
  <p><b>Доставка по России</b></p>
  <p>Доставка осуществляется сервисом СДЭК, который предоставляет
    возможность доставки курьером до двери по вашему адресу или 
    в выбранный вами пункт выдачи заказа (ПВЗ).</p>
  <ul style="list-style-type: disc;">
    <li>
      Стоимость доставки зависит от вашего региона и города. Цена будет известна при оформлении доставки.
    </li>
  </ul>

  <p><b>Доставка в СНГ и в другие страны</b></p>
  <p>Доставка осуществляется сервисом СДЭК или другим логистическим оператором,
    который предоставляет возможность доставки курьером до двери по вашему адресу
    или в выбранный вами пункт выдачи заказа (ПВЗ).</p>
  <ul style="list-style-type: disc;">
    <li>
      Стоимость доставки зависит от вашей страны и города. Цена будет известна при оформлении доставки.
    </li>
  </ul>

  <div class="">
    <h2 class="fade-in p-3 mb-3">Оплата банковской картой и сервисом “Подели”</h1>
    <div class="payment-container">
      <p>Вы можете оплатить Ваш заказ на сайте или при возникновении проблем по оплате написать в наши соц.сети.</p>
      <ol>
        <li>
          <p class="">К оплате на сайте принимаются банковские карты Visa и Master Card, карта
              «Мир».</p>
          <img src="{% static 'images/delivery_and_payment/payments.svg' %}" height="50" width="300" alt="К оплате на сайте принимаются банковские карты">
        </li>

        <li>
          <p class="">Выбор способа оплаты</p>
          <p class="">
            После оформления заказа с Вами свяжется менеджер для выяснения деталей заказа и предоставит несколько способов для оплаты заказа:
            оплата банковской картой или оплата с помощью сервиса “Подели”.
          </p>
        </li>

        <li>
          <p class=""><b>Порядок проведения оплаты картой в интернет-магазине <a href="/">kirumi.ru</a>:</b></p>
          <ol>
            <li>Выбор способа оплаты происходит при общении с менеджером;</li>
            <li>Менеджер предоставляет на проверку данные по заказу и после подтверждения клиентом дает ссылку на оплату;</li>
            <li>
              <p class="">В зависимости от выбранного способа оплаты:</p>
              <ol>
                <li>Выбрано “Оплата банковской карты”. Переход на платежную форму “Тинькофф”;</li>
                <li>Выбран “Подели”. Переход на платежную форму “Robokassa”. Внутри этой страницы необходимо нажать на способ оплаты “Подели” и ввести необходимые данные для продолжения оплаты.</li>
              </ol>
            </li>

            <li>Интернет-магазин перенаправляет покупателя на платёжную страницу в соответствии с выбором способа оплаты
                пользователем. Покупатель вводит следующую информацию:
                <br>
                <br>- Email;
                <br>- Номер карты;
                <br>- Дата окончания срока действия карты;
                <br>- Имя и фамилия, как указано на карте;
                <br>- Значения CVC2 или CVV2;
                <br>- Специальный пароль для подтверждения оплаты.
                Если выбран “Подели”, то дополнительно потребуется следующая информация:
                <br>- Номер телефона;
                <br>- ФИО клиента.
                <br>
                <br>После этого информация об операции передаётся в банк.
                <br>Проведение операций оплаты банковскими картами осуществляется с применением 3DSecure технологий защиты.
            </li>
            <li>
              Если оплата одобрена банком, интернет-магазин и покупатель получают подтверждение.
              Для покупателя подтверждением оплаты будет являться чек от “Яндекс ОФД”.
              Если банк отклонил операцию по оплате, эта информация также будет передана покупателю и интернет-магазину.
              Обработка одобренной банком операции по оплате заказа осуществляется автоматически не позднее
              следующего рабочего дня после дня совершения операции;
            </li>
            <li>После получения оплаты интернет-магазин собирает заказ и передаёт его выбранным покупателем
                способом.
            </li>
          </ol>
          <p class=""><b>Безопасность платежей</b>
          </p>
          <p class="">Настоящий сайт поддерживает 256-битное шифрование.Введенная информация не будет
            предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ.
            <br>Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
          </p>
        </li>
        <li>
          <p class="">Для отмены заказа, пожалуйста, обратитесь в <a class="link" href="{% url 'contacts' %}">службу клиентской поддержки</a>.</p>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
