{% extends 'homepage.html' %}

{% load static %}
{% load i18n %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
  .container{
    padding: 5vw;
    text-align: left;
  }
  h2{
    text-align: center;
  }
  ul{
    list-style-type: none;
  }

  .payment-container ol {
    counter-reset: item;
  }
  .payment-container ol li {
    display: block;
    padding-bottom: 15px;
    position: relative;
  }
  .payment-container ol > li::marker{
    font-weight: bold;
  }
  .payment-container ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    font-weight: bold;
    right: 10px; /* space between number and text */
  }

{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

<h2 class="fade-in pb-2 mb-3">{% trans "Доставка и оплата" %}</h2>
<div class="container p-3 mb-3">
  <p><b>Выбирайте удобный вариант:</b></p>
  <ul >
    <li>
      - Оплата картой на сайте;
    </li>
    <li>
      - Оплата наличными или картой при получении;
    </li>
  </ul>

  <div class="">
    <h2 class="fade-in p-3 mb-3">Оплата банковской картой</h1>
    <div class="payment-container">
      <ol>
        <li>
          <p class="">К оплате на сайте принимаются банковские карты Visa и Master Card, карта
              «Мир».</p>
          <img src="{% static 'images/delivery_and_payment/payments.svg' %}" height="50" width="300" alt="К оплате на сайте принимаются банковские карты">
        </li>

        <li>
          <p class="">Оплата банковской картой</p>
          <p class="">
            Для этого после оформления заказа нажмите кнопку «Оплатить».
            <br>После оплаты обязательно дождитесь возвращения на сайт <a href="/">kirumi.ru</a>, чтобы убедиться, что она
            прошла успешно. Если произошла ошибка, вы можете выбрать другой способ оплаты.
            <br>Оплата проходит через платежный шлюз Сбербанка.
          </p>
        </li>

        <li>
          <p class="">Порядок проведения оплаты картой в интернет-магазине</p>
          <p class="">
            Проведение операций оплаты банковскими картами осуществляется с применением 3DSecure технологий
            защиты.
            <br><b>Порядок проведения оплаты следующий:</b>
          </p>
          <ol>
            <li>Покупатель оформляет заказ в интернет-магазине и выбирает оплату картой;</li>
            <li>Интернет-магазин обрабатывает заказ и передаёт банку информацию о нём;</li>
            <li>Интернет-магазин перенаправляет покупателя на платёжную страницу, на которой находится форма для
                указания реквизитов карты. Покупатель вводит следующую информацию:
                <br>
                <br>- Тип карты;
                <br>- Номер карты;
                <br>- Дата окончания срока действия карты;
                <br>- Имя и фамилия, как указано на карте;
                <br>- Значения CVC2 или CVV2;
                <br>- Специальный пароль для подтверждения оплаты.
                <br>
                <br>После этого информация об операции передаётся в банк.
            </li>
            <li>Если оплата одобрена банком, интернет-магазин и покупатель получают подтверждение. Если банк
                отклонил операцию по оплате, эта информация также будет передана покупателю и интернет-магазину.
                Обработка одобренной банком операции по оплате
                заказа осуществляется автоматически не позднее следующего рабочего дня после дня совершения
                операции.
                <br>При возникновении проблем с оплатой заказа на странице банка, Вы можете связаться с ПАО
                «СБЕРБАНК РОССИИ» по телефону: <a href="tel:+78005555550">8 (800) 555-55-50</a>.
            </li>
            <li>После получения оплаты интернет-магазин собирает заказ и передаёт его выбранным покупателем
                способом.
            </li>
          </ol>
          <p class=""><b>Безопасность платежей</b>
          </p>
          <p class="">Настоящий сайт поддерживает 256-битное шифрование.Введенная информация не будет
            предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ.
            <br>Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
            <br>В случае возникновения вопросов по поводу данной конфиденциальности предоставляемой Вами информации, Вы можете связаться с ПАО «СБЕРБАНК РОССИИ» по телефону: <a href="tel:+78005555550">8 (800) 555-55-50</a>.
          </p>
        </li>
        <li>
          <p class="">Для отмены заказа, пожалуйста, обратитесь в <a class="link" href="{% url 'contacts' %}">службу клиентской поддержки</a>.</p>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
