{% load static i18n %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
{% if LANGUAGE_CODE == 'ru' %}  
  <html lang="ru">
{% else %}
  <html lang="en">
{% endif %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_120_px.svg' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon_32_px.svg' %}">

  <!-- <meta name="yandex-verification" content="6900977733fba006" /> -->
  <!-- <meta name="google-site-verification" content="HAaj6DI9-GH18Me0i4aGBNiA0T3ueYTMTYLOvMrX6uA" /> -->

  <link rel="preload" href="{% static 'fonts/Inter-Regular.otf' %}" as="font" type="font/ttf" crossorigin>
  <link rel="canonical" href="{{ meta.main_page }}">

  <!--===============================================================================================-->
    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <!--===============================================================================================-->
    <!-- Homepage CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <!--===============================================================================================-->
    <!-- Navbar CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <!--===============================================================================================-->

  <title>{{ meta.Title }}</title>
  <meta name="keywords" content="{{ meta.keywords }}">
  <meta name="description" content="{{ meta.page_description }}">

  {% block header %}
    <!--===============================================================================================-->
      <!-- Product Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
    <!--===============================================================================================-->
      <!-- Homepage CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <!--===============================================================================================-->  
  {% endblock header %}

  <style>
    @font-face{
      font-family: "MyEngFont";
      src: url('{% static 'fonts/Inter-Regular.otf' %}') format('truetype');
    }
    @font-face{
      font-family: "MyRuFont";
      src: url('{% static 'fonts/Inter-Regular.otf' %}') format('truetype');
    }
    *{
      font-family: "MyEngFont", "MyRuFont";
      overflow-wrap: break-word;
    }
    a.nav-link, a.footer-nav-link, p.copyright-text{
      color: grey;
    }
    .text-muted {
      color: grey !important;
    }
    {% block style %}
    {% endblock style %}
  </style>
</head>

<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(90592432, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/90592432" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

  {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" style="max-width: 100vw;" aria-label="navbar">
      <div class="container-fluid d-flex">
        <a class="navbar-brand" href="{% url 'homepage' %}" style="margin-right: 12px;">
          <!-- SVG place -->
          <img class=""
            src="{% static "images/new_logo_black_wear_2.svg" %}"
            alt="Kirumi logo"
            width="80px"
            loading="lazy" />
        </a>

        <a class="nav-link nav-link-with-icon on-collapse" href="{% url 'cart' %}" style="text-align: end; font-size:24px;">
          <span style="color: #262626;">[<span style="color: grey;">{{ cart.total_products }}</span>]</span>
        </a>

        <button class="navbar-toggler hamburger collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav" style="">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage' %}">{% trans "Главная" %}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_brand' %}">{% trans "О бренде" %}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'new_products' %}">{% trans "Новинки" %}</a>
            </li>

            <li class="nav-item dropdown" id="navbarDarkDropdownCatalogMenu">
              <a class="nav-link desktop" href="{% url 'catalog' %}" id="navbarDarkDropdownCatalogMenuLink">
                {% trans "Каталог" %}
              </a>
              <a class="nav-link dropdown-toggle mobile" href="{% url 'catalog' %}" id="navbarDarkDropdownCatalogMenuLink"
                style="display:none;"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Каталог" %}
              </a>
              <ul class="hide dropdown-menu dropdown-menu-dark" style="
                padding: 30px 20px;
                width: 100vw;
                display: flex;
                background: #f6f6f6;
                border: 0;
                display: none;
                justify-content: center;
                list-style: none;
                position: fixed;
                left: 0;
                top: 63px;
                z-index: 101;
              ">
                {% for collection in collections %}
                  <li class="nav-item" style="text-align:center; width:min-content;">
                    <a class="dropdown-item nav-link" style="color: grey;" href="{% url 'catalog' collection.slug %}">{{ collection }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav d-flex justify-content-start align-content-start" style="margin-left: 0; width: 100%;">
            <li class="nav-item ms-auto">
              <a class="nav-link nav-link-with-icon" href="{% url 'cart' %}" style="color: #262626;">
                {% trans "Корзина" %}: <span style="color: #262626;">[<span style="color: grey;">{{cart.total_products}}</span>]</span>
              </a>
            </li>
            {% comment %} 
              <li class="nav-item dropdown languageSwitcher">
                <a class="nav-link dropdown-toggle" href="#" id="languageSelector" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if LANGUAGE_CODE == 'ru' %}  
                    <img class="ru_flag" src="{% static "images/Flag_of_Russia.svg" %}"
                      alt="Russian flag" width="25px" height="15px" />
                  {% else %}
                    <img class="uk_flag" src="{% static "images/Flag_of_the_United_Kingdom.svg" %}"
                      alt="UK flag" width="25px" height="15px" />
                  {% endif %}
                </a>

                <ul class="dropdown-menu language-dropdown" aria-labelledby="languageSelector">
                  <li>
                    <form action="{% url 'set_language' %}" method="post">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                      <input name="language" type="hidden" value="RU" />
                      <div class="locale-container">
                        <img class="ru_flag"
                          src="{% static "images/Flag_of_Russia.svg" %}"
                          alt="Russian flag" width="25px" height="15px" />
                        <input class="dropdown-item" type="submit" value="RU">
                      </div>
                    </form>
                  </li>
                  <li>
                    <form action="{% url 'set_language' %}" method="post">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                      <input name="language" type="hidden" value="EN" />
                      <div class="locale-container">
                        <img class="uk_flag"
                          src="{% static "images/Flag_of_the_United_Kingdom.svg" %}"
                          alt="UK flag" width="25px" height="15px" />
                        <input class="dropdown-item" type="submit" value="EN">
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
            {% endcomment %}
          </ul>

          <!-- <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form> -->
        </div>
        <!-- /.collapse -->
      </div>
    </nav>
    <div class="nav-box"></div>
  {% endblock navbar %}

  {% for message in messages %}
    <div class="alert
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-success {% endif %}
      alert-dismissible fade show"
      style = "border-radius: 0; top: 18px;"
      role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}

  
  {% block intro %}
  {% endblock intro %}

  <!-- Page Content -->
  <div class="main-content">
    {% block content %}
      <div id="KirumiCarouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="overflow: visible;">
        <div class="carousel-indicators">
          {% for banner in banners %}
            <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3500">
              {% thumbnail banner.image "428x600" crop="center" as im %}
                <div itemscope itemtype="http://schema.org/ImageObject">
                  <h2 itemprop="name" hidden>О бренде Kirumi</h2>
                  <img src="{{ im.url }}"
                    itemprop="{{ im.url }}"
                    style="display: block;
                      width: inherit;
                      min-width: 200px;
                      margin: auto;"
                    class="d-block"
                    height="600"
                    loading="lazy" />
                  <span itemprop="description" hidden>Kirumi онлайн-магазин {{ banner.description }}</span>
                </div>
              {% endthumbnail %}
              <div class="overlay carousel-caption d-md-block">
                <span class="banner-description">{{ banner.description|linebreaks }}</span>
                <div style="display: flex; flex-direction: row; height: 360px; align-items: center; justify-content: space-around;">
                  <p class="banner-header" style="">{{ banner.header }}</p>
                  <div style="display: flex; flex-direction: row;">
                    <a class="text-decoration-none more-button" href="{{ banner.link }}">
                      <p style="font-size: 26px; background: #f6f6f6; padding: 5px;">ПОДРОБНЕЕ
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" style="zoom: 1.6; rotate: -45deg;">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
                <a class="text-decoration-none more-button-visible" style="display:none; color: #262626;" href="{{ banner.link }}">
                  <p style="padding: 5px; font-size: 26px; background: #f6f6f6;">ПОДРОБНЕЕ
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" style="zoom: 1.6;">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                  </p>
                </a>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container">
        <h2 class="fade-in p-3 my-3">{% trans "Новинки" %}</h2>
      </div>

      <div class="container desktop-container">
        {% if colored_products.0 %}
          <div class="fade-in card first-card">
            <div class="productBackground">
              <a class="product-link" href="{% url 'product_page' colored_products.0.product.slug colored_products.0.slug %}">
                <div>
                  {% for img in colored_products.0.get_two_first_images %}
                    {% thumbnail img.image "322x450" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ img.description }}"
                        width="322" height="450"
                        class="productImg"
                        loading="lazy" />
                    {% endthumbnail %}
                  {% endfor %}
                </div>
              </a>
            </div>
            <a href="{% url 'product_page' colored_products.0.product.slug colored_products.0.slug %}"
              style="text-align: left; font-size: 16px; text-decoration: none;">
              <div class="info">
                <div class="productName">
                  <h1 class="big"><div>{{ colored_products.0.product.name }}</div></h1>
                </div>
                  <div class="buy-price price">
                    {% if colored_products.0.old_price is not none %}
                      <span class="old_price">{{ colored_products.0.old_price.normalize }} {% trans "₽" %}<br></span>
                    {% endif %}
                    <span class="new_price">{{ colored_products.0.price.normalize }} {% trans "₽" %}</span>
                  </div>
              </div>
            </a>
          </div>
        {% endif %}

        {% if colored_products.1 %}
          <div class="second-row">
            <div class="col-3">
              <div class="fade-in card second-card">
                <div class="productBackground">
                  <a class="product-link" href="{% url 'product_page' colored_products.1.product.slug colored_products.1.slug %}">
                    <div>
                      {% for img in colored_products.1.get_two_first_images %}
                        {% thumbnail img.image "320x448" crop="center" as im %}
                          <img src="{{ im.url }}" alt="{{ img.description }}"
                            width="320" height="448"
                            class="productImg"
                            loading="lazy" />
                        {% endthumbnail %}
                      {% endfor %}
                    </div>
                  </a>
                </div>
                <a href="{% url 'product_page' colored_products.1.product.slug colored_products.1.slug %}"
                  style="text-align: left; font-size: 16px; text-decoration: none;">
                  <div class="info">
                    <div class="productName">
                      <h1 class="big"><div>{{ colored_products.1.product.name }}</div></h1>
                    </div>
                      <div class="buy-price price">
                        {% if colored_products.1.old_price is not none %}
                          <span class="old_price">{{ colored_products.1.old_price.normalize }} {% trans "₽" %}<br></span>
                        {% endif %}
                        <span class="new_price">{{ colored_products.1.price.normalize }} {% trans "₽" %}</span>
                      </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-5">
              {% if colored_products.2 %}
                <div class="fade-in third-card">
                  <div class="productBackground">
                    <a class="product-link" href="{% url 'product_page' colored_products.2.product.slug colored_products.2.slug %}">
                      <div>
                        {% for img in colored_products.2.get_two_first_images %}
                          {% thumbnail img.image "500x700" crop="center" as im %}
                            <img src="{{ im.url }}" alt="{{ img.description }}"
                              width="500" height="700"
                              class="productImg"/>
                          {% endthumbnail %}
                        {% endfor %}
                      </div>
                    </a>
                  </div>
                  <a href="{% url 'product_page' colored_products.2.product.slug colored_products.2.slug %}"
                    style="text-align: left; font-size: 16px; text-decoration: none;">
                    <div class="info">
                      <div class="productName">
                        <h1 class="big"><div>{{ colored_products.2.product.name }}</div></h1>
                      </div>
                        <div class="buy-price price">
                          {% if colored_products.2.old_price is not none %}
                            <span class="old_price">{{ colored_products.2.old_price.normalize }} {% trans "₽" %}<br></span>
                          {% endif %}
                          <span class="new_price">{{ colored_products.2.price.normalize }} {% trans "₽" %}</span>
                        </div>
                    </div>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if colored_products.3 %}
          <div class="product-cards-container container mt-5" style="justify-content: space-between;">
            <div class="fade-in card fourth-card">
              <div class="productBackground">
                <a class="product-link" href="{% url 'product_page' colored_products.3.product.slug colored_products.3.slug %}">
                  <div>
                    {% for img in colored_products.3.get_two_first_images %}
                      {% thumbnail img.image "322x450" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ img.description }}"
                          width="322" height="450"
                          class="productImg"
                          loading="lazy" />
                      {% endthumbnail %}
                    {% endfor %}
                  </div>
                </a>
              </div>
              <a href="{% url 'product_page' colored_products.3.product.slug colored_products.3.slug %}"
                style="text-align: left; font-size: 16px; text-decoration: none;">
                <div class="info">
                  <div class="productName">
                    <h1 class="big"><div>{{ colored_products.3.product.name }}</div></h1>
                  </div>
                  <div class="buy-price price">
                    {% if colored_products.3.old_price is not none %}
                      <span class="old_price">{{ colored_products.3.old_price.normalize }} {% trans "₽" %}<br></span>
                    {% endif %}
                    <span class="new_price">{{ colored_products.3.price.normalize }} {% trans "₽" %}</span>
                  </div>
                </div>
              </a>
            </div>

            {% if colored_products.4 %}
              <div class="fade-in card fifth-card pt-5">
                <div class="productBackground">
                  <a class="product-link" href="{% url 'product_page' colored_products.4.product.slug colored_products.4.slug %}">
                    <div>
                      {% for img in colored_products.4.get_two_first_images %}
                        {% thumbnail img.image "322x450" crop="center" as im %}
                          <img src="{{ im.url }}" alt="{{ img.description }}"
                            width="322" height="450"
                            class="productImg"
                            loading="lazy" />
                        {% endthumbnail %}
                      {% endfor %}
                    </div>
                  </a>
                </div>
                <a href="{% url 'product_page' colored_products.4.product.slug colored_products.4.slug %}"
                  style="text-align: left; font-size: 16px; text-decoration: none;">
                  <div class="info">
                    <div class="productName">
                      <h1 class="big"><div>{{ colored_products.4.product.name }}</div></h1>
                    </div>
                    <div class="buy-price price">
                      {% if colored_products.4.old_price is not none %}
                        <span class="old_price">{{ colored_products.4.old_price.normalize }} {% trans "₽" %}<br></span>
                      {% endif %}
                      <span class="new_price">{{ colored_products.4.price.normalize }} {% trans "₽" %}</span>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}

            {% if colored_products.5 %}
              <div class="fade-in card sixth-card pt-5">
                <div class="productBackground">
                  <a class="product-link" href="{% url 'product_page' colored_products.5.product.slug colored_products.5.slug %}">
                    <div>
                      {% for img in colored_products.5.get_two_first_images %}
                        {% thumbnail img.image "322x450" crop="center" as im %}
                          <img src="{{ im.url }}" alt="{{ img.description }}"
                            width="322" height="450"
                            class="productImg"
                            loading="lazy" />
                        {% endthumbnail %}
                      {% endfor %}
                    </div>
                  </a>
                </div>
                <a href="{% url 'product_page' colored_products.5.product.slug colored_products.5.slug %}"
                  style="text-align: left; font-size: 16px; text-decoration: none;">
                  <div class="info">
                    <div class="productName">
                      <h1 class="big"><div>{{ colored_products.5.product.name }}</div></h1>
                    </div>
                      <div class="buy-price price">
                        {% if colored_products.5.old_price is not none %}
                          <span class="old_price">{{ colored_products.5.old_price.normalize }} {% trans "₽" %}<br></span>
                        {% endif %}
                        <span class="new_price">{{ colored_products.5.price.normalize }} {% trans "₽" %}</span>
                      </div>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
        {% endif %}

      </div>

      <div class="container mobile-container">
        {% for product_card in colored_products %}
          <div class="fade-in card first-card" style="padding: 5vw 0 5vw 7vw;">
            <div class="productBackground">
              <a class="product-link" href="{% url 'product_page' product_card.product.slug product_card.slug %}">
                <div>
                  {% for img in product_card.get_two_first_images %}
                    {% thumbnail img.image "322x450" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ img.description }}"
                        width="322" height="450"
                        class="productImg"
                        loading="lazy" />
                    {% endthumbnail %}
                  {% endfor %}
                </div>
              </a>
            </div>
            <a href="{% url 'product_page' product_card.product.slug product_card.slug %}"
              style="text-align: left; font-size: 16px; text-decoration: none;">
              <div class="info">
                <div class="productName">
                  <h1 class="big"><div>{{ product_card.product.name }}</div></h1>
                </div>
                  <div class="buy-price price">
                    {% if product_card.old_price is not none %}
                      <span class="old_price">{{ product_card.old_price.normalize }} {% trans "₽" %}<br></span>
                    {% endif %}
                    <span class="new_price">{{ product_card.price.normalize }} {% trans "₽" %}</span>
                  </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>

    {% endblock content %}

  </div>
  <!-- /.content -->

  <div class="prefooter">
    {% block prefooter %}

      <section class="showcase">
        <video class="" preload="auto"
          no-controls autoplay loop playsinline muted
          src="{% static 'videos/hello_video_2.mp4' %}"
          loading="lazy"    
          style="opacity: 0.65;"
        >
          Your browser does not support the video tag. (Тег video не поддерживается вашим браузером.)
        </video>
        <h1 id="title" class="title text-center">KIRUMI</h1>
      </section>
      <div class="label-video"></div>

    {% endblock prefooter %}
  </div>

  {% block footer %}
    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
      <p class="copyright-text col-lg-4 mb-0 text-muted">© {% trans "2022 Kirumi интернет-магазин аниме одежды" %}</p>

      <a href="{% url 'homepage' %}" class="col-lg-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        <!-- SVG place -->
        <img class="footer-kirumi-logo"
          src="{% static "images/kirumi-logo.svg" %}"
          alt="Kirumi logo"
          width="200px"
          loading="lazy" />
      </a>

      <ul class="nav col-lg-4 p-2 justify-content-end">
        <li class="nav-item"><a href="{% url 'about_brand' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "О бренде" %}</a></li>
        <li class="nav-item"><a href="{% url 'contacts' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Контакты" %}</a></li>
        <li class="nav-item"><a href="{% url 'faq' %}" class="footer-nav-link px-2 text-muted text-decoration-none">FAQ</a></li>
        <li class="nav-item"><a href="{% url 'return_exchange' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Возрат-обмен" %}</a></li>
        <li class="nav-item"><a href="{% url 'delivery_and_payment' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Доставка и оплата" %}</a></li>
        <li class="nav-item"><a href="{% url 'public_offer' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Публичная оферта" %}</a></li>
        <li class="nav-item"><a href="{% url 'terms_of_use' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Пользовательское соглашение" %}</a></li>
        <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Политика конфиденциальности" %}</a></li>
      </ul>
    </footer>
  {% endblock footer %}

  <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>

  <!-- Bootstrap.min.js with jquery -->
    <script src="{% static 'js/bootstrap/jquery-3.2.1.slim.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}" crossorigin="anonymous"></script>

  <!-- HTMX -->
    <script src="{% static 'js/htmx.min.js' %}" defer></script>

  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
