{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
{% if LANGUAGE_CODE == 'ru' %}  
  <html lang="ru">
{% else %}
  <html lang="en">
{% endif %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/> -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"> -->
	<!-- <meta name="yandex-verification" content="6900977733fba006" /> -->
  <!-- <meta name="google-site-verification" content="HAaj6DI9-GH18Me0i4aGBNiA0T3ueYTMTYLOvMrX6uA" /> -->

  <link rel="preload" href="{% static 'fonts/Inter-Regular.otf' %}" as="font" type="font/ttf" crossorigin>

  <!--===============================================================================================-->
    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <!--===============================================================================================-->
    <!-- Homepage CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <!--===============================================================================================-->
    <!-- Navbar CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <!--===============================================================================================-->

  <title>{{ meta.Title }}</title>
  <meta name="keywords" content="{{ meta.keywords }}">
  <meta name="description" content="{{ meta.page_description }}">

  {% block header %}

    <!--===============================================================================================-->
      <!-- Product Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
    <!--===============================================================================================-->

  {% endblock header %}

  <style>

    @font-face{
      font-family: "MyEngFont";
      src: url('{% static 'fonts/Inter-Regular.otf' %}') format('truetype');
    }
    @font-face{
      font-family: "MyRuFont";
      src: url('{% static 'fonts/Inter-Regular.otf' %}') format('truetype');
    }
    *{
      font-family: "MyEngFont", "MyRuFont";
    }
    a.nav-link, a.footer-nav-link, p.copyright-text{
      color: grey;
    }
    .text-muted {
      color: grey !important;
    }
    {% block style %}
    {% endblock style %}

  </style>
  
</head>

<body>
  <!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(88410462, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/88410462" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
  <!-- /Yandex.Metrika counter -->f

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" aria-label="navbar">
    <div class="container-fluid d-flex">

      <a class="navbar-brand" href="{% url 'homepage' %}" style="margin-right: 30px;">KIRUMI</a>

      <a class="nav-link nav-link-with-icon on-collapse" href="{% url 'cart' %}" style="text-align: end; font-size:20px;">
        <span style="color: #343434;">[<span style="color: grey;">{{cart.total_products}}</span>]</span>
      </a>

      <button class="navbar-toggler hamburger collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">

        <ul class="navbar-nav" style="">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">{% trans "Магазин" %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_brand' %}">{% trans "О бренде" %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'new_products' %}">{% trans "Новинки" %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">{% trans "Каталог" %}</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex justify-content-start align-content-start" style="margin-left: 0; width: 100%;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts' %}">{% trans "Контакты" %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'delivery_and_payment' %}">{% trans "Доставка и оплата" %}</a>
          </li>

          <li class="nav-item ms-auto">
            <a class="nav-link nav-link-with-icon" href="{% url 'cart' %}" style="color: #343434;">
              {% comment %} <svg xmlns="{% static 'images/cart.svg' %}" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 20 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg> {% endcomment %}
              {% trans "Корзина" %}: <span style="color: grey;">[{{cart.total_products}}]</span>
            </a>
          </li>
          {% comment %} 
          <li class="nav-item dropdown languageSwitcher">
            <a class="nav-link dropdown-toggle" href="#" id="languageSelector" data-bs-toggle="dropdown" aria-expanded="false">
              {% if LANGUAGE_CODE == 'ru' %}  
                <img class="ru_flag" src="{% static "images/Flag_of_Russia.svg" %}"
                  alt="Russian flag" width="25px" height="15px" />
              {% else %}
                <img class="uk_flag" src="{% static "images/Flag_of_the_United_Kingdom.svg" %}"
                  alt="UK flag" width="25px" height="15px" />
              {% endif %}
            </a>

            <ul class="dropdown-menu language-dropdown" aria-labelledby="languageSelector">
              <li>
                <form action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                  <input name="language" type="hidden" value="RU" />
                  <div class="locale-container">
                    <img class="ru_flag"
                      src="{% static "images/Flag_of_Russia.svg" %}"
                      alt="Russian flag" width="25px" height="15px" />
                    <input class="dropdown-item" type="submit" value="RU">
                  </div>
                </form>
              </li>
              <li>
                <form action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                  <input name="language" type="hidden" value="EN" />
                  <div class="locale-container">
                    <img class="uk_flag"
                      src="{% static "images/Flag_of_the_United_Kingdom.svg" %}"
                      alt="UK flag" width="25px" height="15px" />
                    <input class="dropdown-item" type="submit" value="EN">
                  </div>
                </form>
              </li>
            </ul>
          </li>
          {% endcomment %}

        </ul>
        <!-- <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form> -->

      </div>
      <!-- /.collapse -->

    </div>
  </nav>
  <div class="nav-box"></div>


  {% for message in messages %}
    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-success {% endif %} alert-dismissible fade show my-0" role="alert">
      <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  {% endfor %}

  
  {% block intro %}
  {% endblock intro %}

  <!-- Page Content -->
  <div class="main-content">

    {% block content %}

      <div id="KirumiCarouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
          {% for banner in banners %}
            <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
          {% endfor %}
        </div>

        <div class="carousel-inner">
          {% for banner in banners %}        
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3500">
              <img height = "600" src="{{ banner.image.url }}"
                class="d-block" alt="anime-girl-gold-fish-flying-wallpaper"
                style="" loading="lazy">
              <div class="overlay carousel-caption d-md-block">
                <p class="banner-description">{{ banner.description }}</p>
                <div style="display: flex; flex-direction: row; height: 400px; align-items: center; justify-content: space-around;">
                  <p class="banner-header" style="">{{ banner.header }}</p>
                  <div style="display: flex; flex-direction: row;">
                    <a class="text-decoration-none" href="{{ banner.link }}">
                      <p style="font-size: 26px; background: #f6f6f6; padding: 5px;">ПОДРОБНЕЕ
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" style="zoom: 1.6; rotate: -45deg;">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- До лучших времен (когда появятся Коллекции) -->
      <!-- <div class="container collections-container px-4">
        <h2 class="fade-in pb-2 border-bottom">Коллекции</h2>
        <div class="d-flex flex-wrap justify-content-around">

          {% for collection in collections %}
            <div class="card-container">
              <div class="card">
                <div class="card-body">
                  <p class="card-text text-center">{{ collection.name }}</p>
                </div>
                <img src="{{ collection.image.url }}" alt="{{ collection.name }}"
                  class="card-img-top" style=""
                  loading="lazy">
              </div>
            </div>
          {% endfor %}

        </div>
      </div> -->
      <div class="container">
        <h2 class="fade-in p-3 mt-5 mb-3">{% trans "Новинки" %}</h2>
      </div>
      {% include 'product/products_wrapper.html' %}

    {% endblock content %}

  </div>
  <!-- /.content -->

  <div class="prefooter">
    {% block prefooter %}

      <section class="showcase">
        <video class="" preload="auto"
          no-controls autoplay loop playsinline muted
          src="{% static 'videos/FASHION VIDEO.mp4' %}"
          loading="lazy" />
          Your browser does not support the video tag. (Тег video не поддерживается вашим браузером.)
        </video>
        <h1 id="title" class="title text-center">KIRUMI</h1>
      </section>
      <div class="label-video"></div>

    {% endblock prefooter %}
  </div>

  <!-- Footer -->
  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <p class="copyright-text col-lg-4 mb-0 text-muted">© {% trans "2022 Kirumi интернет-магазин аниме одежды" %}</p>

    <a href="{% url 'homepage' %}" class="col-lg-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
      <!-- SVG place -->
      <img class="footer-kirumi-logo"
        src="{% static "images/kirumi-logo.svg" %}"
        alt="Kirumi logo"
        width="200px"
        loading="lazy" />
    </a>

    <ul class="nav col-lg-4 p-2 justify-content-end">
      <li class="nav-item"><a href="{% url 'about_brand' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "О бренде" %}</a></li>
      <li class="nav-item"><a href="{% url 'contacts' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Контакты" %}</a></li>
      <li class="nav-item"><a href="#" class="footer-nav-link px-2 text-muted text-decoration-none">FAQ</a></li>
      <li class="nav-item"><a href="#" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Возрат-обмен" %}</a></li>
      <li class="nav-item"><a href="{% url 'delivery_and_payment' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Доставка и оплата" %}</a></li>
      <li class="nav-item"><a href="{% url 'public_offer' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Публичная оферта" %}</a></li>
      <li class="nav-item"><a href="{% url 'terms_of_use' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Пользовательское соглашение" %}</a></li>
      <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="footer-nav-link px-2 text-muted text-decoration-none">{% trans "Политика конфиденциальности" %}</a></li>
    </ul>
  </footer>

  <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- HTMX -->
    <script src="{% static 'js/htmx.min.js' %}" defer></script>

  {% block scripts %}
  {% endblock scripts %}

</body>
</html>
