{% extends 'homepage.html' %}

{% load static i18n %}

{% block intro %}
{% endblock intro %}

{% block style %}
    h2, .container{
        text-align: center;
    }
    .container{
        font-size: larger;
        padding: 5vw;
      }
    .requisites-container{
      display: flex;
      margin-bottom: 20px;
    }
    .requisites-header{
      flex: 1 1 150px;
      align-self: flex-start;
      overflow-wrap: anywhere;
      text-align: start;
    }
    .requisites-info{
      flex: 3 1 200px;
      overflow-wrap: anywhere;
    }
{% endblock style %}

{% block content %}
  <h2 class="fade-in pb-2 my-3">{% trans "О бренде" %}</h2>
  <div class="container mb-3">
    На создание бренда нас вдохновила невероятная многогранность культуры аниме.<br>
    <br>
    <img href="{% static 'images/about.jpg' %}"></img>
    Мир аниме – это особая философия, которой следуем мы и хотим поделиться с вами. 
    <br>
    <br>
    В дизайне нашей одежды отражены различные истории персонажей аниме, у каждого из которых свой неповторимый жизненный путь.
    <br>
    Это делает каждую вещь по-своему уникальной. 
    <br>
    <br>
    Стань частью культуры аниме и найди свой путь вместе с <a href="/">Kirumi</a>!
    <br>
  </div>
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}
