{% extends 'homepage.html' %}

{% load static i18n %}

{% block intro %}
{% endblock intro %}

{% block style %}
    h2, .container{
        padding: 5vw;
        text-align: center;
    }
    .container{
        font-size: larger;
    }
{% endblock style %}

{% block content %}
<h2 class="fade-in pb-2 my-3 border-bottom">{% trans "О бренде" %}</h2>
<div class="container mb-3">
    KIRUMI - бренд, созданный объединить людей, которые не только любят аниме, но и предпочитают носить исключительно стильные и высококачественные вещи.<br>
    <br>
    В производстве своих изделий мы вдохновились восточной культурой на основе чего и появился наш магазин<br>
    <br>
    У нас собственное производство, на котором каждая единица продукции проходит тщательный процесс создания, начиная с разработки лекала, подбора материалов, отшива образцов и заканчивая длительным согласованием каждой детали. При производстве мы используем премиальные материалы. Все это делается, чтобы вы открыв коробку с заказом, получили красивую и качественную вещь<br>
    <br>
    Мы крайне ценим наших покупателей и будем признательны за отзыв и обратную связь.<br>
    <br>
    Почта: kirumiwork@gmail.com<br>
    <br>
</div>


{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}
