{% extends 'homepage.html' %}

{% load product_filters %}
{% load thumbnail %}
{% load static %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Product Details CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/product/product_details.css' %}">
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container mt-3 mb-5" style="padding: 0;">
    <div class="product_details_card" style="overflow: visible;">
      <div class="row g-0">
        <div class="col-md-8 border-end" style="display: flex;">
          <div style="width:100px; height:730px; padding:15px 0;"></div>

          <div class="left-side d-flex flex-row justify-content-center" style="padding: 15px 0;">

            {% comment %} <div class="thumbnail_images">
              <ul class="d-flex flex-column">
                {% for thumbnail_img in images %}
                  <li>
                    {% thumbnail thumbnail_img.image "70x98" crop="center" as im %}
                      <img
                        src="{{ im.url }}"
                        alt="{{ thumbnail_img.description }}"
                        onclick='changeMainImage("{{ thumbnail_img.image.url }}");'
                        width="70"
                      />
                    {% endthumbnail %}
                  </li>
                {% endfor %}
                <script type="text/javascript">
                  function changeMainImage(new_src) {
                    document.getElementById("main_product_image").src=new_src;
                  }
                </script>
              </ul>
            </div>

            <div class="main_image">
              <img src="{{ images.first.image.url }}"
                id="main_product_image"
                alt="{{ images.first.description }}"
                width="500" height="700"
                loading="eager" />
            </div> {% endcomment %}

            <div id="KirumiCarouselDark" class="carousel carousel-dark slide" data-ride="carousel" style="max-width:500px;">

              <div class="carousel-indicators" style="flex-direction:column; top:0; left:-110px; width:110px; margin:0;">
                <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
                  style="width: 100px!important; height:140px!important; padding:0!important; border:3px solid white;"
                >
                  <img style="display:block;"
                    src="{{ images.first.image.url }}"
                    width="100"
                  />
                </button>

                <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="1" class="" aria-current="false" aria-label="Slide 2"
                  style="width: 100px!important; height:140px!important; padding:0!important; border:3px solid white;"
                >
                  <img style="display:block;"
                    src="{{ images.last.image.url }}"
                    width="100"
                  />
                </button>

                <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="2" class="" aria-current="false" aria-label="Slide 3"
                  style="width: 100px!important; height:140px!important; padding:0!important; border:3px solid white;"
                >
                  <img style="display:block;"
                    src="{{ images.first.image.url }}"
                    width="100"
                  />
                </button>

              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" height=700 src="{{ images.first.image.url }}" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" height=700 src="{{ images.last.image.url }}" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" height=700 src="{{ images.first.image.url }}" alt="Third slide">
                </div>
              </div>

              <a class="carousel-control-prev" data-bs-target="#KirumiCarouselDark" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" data-bs-target="#KirumiCarouselDark" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

            {% comment %} <div class="main_image">
              <img src="{{ images.first.image.url }}"
                id="main_product_image"
                alt="{{ images.first.description }}"
                width="500" height="700"
                loading="eager" />
            </div> {% endcomment %}

          </div>
        </div>

        <div class="col-md-4">
          <div class="right-side">
            <div class="d-flex justify-content-between align-items-center">
              <h3>{{ colored_product.product.name }}</h3>
            </div>
            <div class="mt-2 mb-4 pr-3 content">
              <p class="description">
                {{ colored_product.product.description }}
              </p>
            </div>

            <div class="mt-3">
              {% if colored_product.old_price is not none %}
                <h3 class="old_price">{{ colored_product.old_price }} Р</h3>
              {% endif %}
              <h3 class="new_price">{{ colored_product.price }} Р</h3>
            </div>

            {% comment %} <h3 class="title">Цвет</h3>
            <div class="my-2 pr-3 content">
              <p class="color-name">
                {{ colored_product.name }}
              </p>
            </div> {% endcomment %}

            {% if colored_product.product.colors.all|length > 1 %}
              <div class="color-container mt-3">
                <h3 class="title">Другие цвета товара</h3>
                <div class="colors">

                  {% for color in colored_product.product.colors.all|is_active %}

                    <a class="colored-product-link" style="color: #{{ color.color_hex_code }};"
                      href="{% url 'product_page' color.product.slug color.slug %}">
                      <span class="color {% if color == colored_product %}active{% endif %}"
                        primary="#{{ color.color_hex_code }}" color="{{ color.name }}"
                        style="{% if color == product_color %}border-color: #{{ color.color_hex_code }};{% endif %}
                        background: #{{ color.color_hex_code }};"></span>
                    </a>
                  
                  {% endfor %}
    
                </div>
              </div>
            {% endif %}

            <form action="{% url 'product_page' colored_product.product.slug colored_product.slug %}"
              method="post" style="text-align: center;">
              {% csrf_token %}

              <h3 class="title mt-2">Размер</h3>
              <div class="mb-4 pr-3 content">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                  {% for size in colored_product.product.sizes.all|is_active %}
                    <input type="radio" class="btn-check" name="size" id="{{ size }}" value="{{ size }}" required>
                    <label class="btn btn-outline-dark" for="{{ size }}">{{ size }}</label>
                  {% endfor %}
                </div>
              </div>

              <input type="hidden" name="add_to_cart" />
              <div class="buttons d-flex flex-row mt-5">
                <button type="submit" class="btn btn-dark">Добавить в корзину</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
