{% extends 'homepage.html' %}

{% load product_filters %}

{% load static i18n thumbnail %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Product Details CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/product/product_details.css' %}">
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->
    <!-- Podeli CSS style -->
      <link href="https://cdn.podeli.ru/Default-item-card-widget/index.css" rel="stylesheet">
  <!--===============================================================================================-->

  {% endblock header %}

{% block style %}
  .btn-check:checked+.btn-outline-dark{
    background: #232323;
  }
  th, td {
    line-height: 35px;
  }
  th{
    border: 1px solid;
  }
  td{
    border: 1px solid;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container mb-5" style="padding: 0;">
    <div class="product_details_card pb-3" style="overflow: visible;">
      <div class="row g-0">
        <div class="col-md-8 border-end justify-content-center" style="display: flex;">
          <div class="carousel-indicators-container"></div>

          <div class="left-side d-flex flex-row justify-content-center" style="padding: 15px 0;">
            <div id="KirumiCarouselDark" class="carousel carousel-dark slide pointer-event" data-bs-ride="carousel" style="max-width:500px;">

              <div class="carousel-indicators">
                {% for image in images %}
                  <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}">
                    {% thumbnail image.image "100x140" crop="center" as im %}
                      <div itemscope itemtype="http://schema.org/ImageObject" style="width: 100px">
                        <h2 itemprop="name" hidden>{{ colored_product.product.collection.first }} {{ colored_product.variation.name }} {{ image }}</h2>
                        <img src="{{ im.url }}"
                          itemprop="{{ image.image.url }}"
                          style="display: block;
                            width: inherit;
                            margin: auto;"
                          class="d-block"
                          width="100"
                          loading="lazy" />
                        <span itemprop="description" hidden>Kirumi онлайн-магазин {{ colored_product.product.collection.first }} {{ colored_product.variation.name }} {{ image }}</span>
                      </div>
                    {% endthumbnail %}
                  </button>
                {% endfor %}
              </div>

              <div class="carousel-inner">
                {% for image in images %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">

                    <div itemscope itemtype="http://schema.org/ImageObject">
                      <h2 itemprop="name" hidden>{{ colored_product.product.collection.first }} {{ colored_product.variation.name }} {{ image }}</h2>
                      <img src="{{ image.image.url }}"
                        itemprop="{{ image.image.url }}"
                        style="display: block;
                          width: inherit;
                          margin: auto;"
                        class="d-block w-100"
                        height="700"
                        loading="lazy" />
                      <span itemprop="description" hidden>Kirumi онлайн-магазин {{ colored_product.product.collection.first }} {{ colored_product.variation.name }} {{ image }}</span>
                    </div>

                  </div>
                {% endfor %}
              </div>

              <a class="carousel-control-prev" data-bs-target="#KirumiCarouselDark" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" data-bs-target="#KirumiCarouselDark" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="right-side">
            <div class="pr-3 content">
              <p class="description my-0 py-0">
                {{ colored_product.product.collection.first }}
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <h3>{{ colored_product.product.name }}</h3>
            </div>
            <div class="mt-2 mb-4 pr-3 content">
              <p class="description">
                {{ colored_product.product.description }}
              </p>
            </div>

            <div class="mt-3">
              {% if colored_product.old_price is not none %}
                <h3 class="old_price">{{ colored_product.old_price.normalize }} {% trans "₽" %}</h3>
              {% endif %}
              <h3 class="new_price">{{ colored_product.price.normalize }} {% trans "₽" %}</h3>
            </div>

            {% if colored_product.product.colors.all|is_active|distinct_colors|length > 1 %}
              <div class="color-container mt-5">
                <h3 class="title">Другие цвета товара</h3>
                <div class="colors">
                  {% for color in colored_product.product.colors.all|is_active|distinct_colors %}
                    <a class="colored-product-link" style="color: #{{ color.color_hex_code }};"
                      href="{% url 'product_page' color.product.slug color.slug %}">
                      <span class="color {% if color.color_hex_code == colored_product.color_hex_code %}active{% endif %}"
                        primary="#{{ color.color_hex_code }}" color="{{ color.name }}"
                        style="{% if color == product_color %}border-color: #{{ color.color_hex_code }};{% endif %}
                        background: #{{ color.color_hex_code }};"></span>
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="color-container mt-5"></div>
            {% endif %}

            <form class="mt-3" action="{% url 'product_page' colored_product.product.slug colored_product.slug %}"
              method="post">
              {% csrf_token %}

              <h3 class="title my-3">Выберите размер</h3>
              <div class="pr-3 content">
                <div class="btn-group btn-group-lg" style="" role="group" aria-label="Basic radio toggle button group">
                  {% for size in colored_product.product.sizes.all|is_active %}
                    <input type="radio" class="btn-check" name="size" id="{{ size }}" value="{{ size }}" required>
                    <label class="btn btn-outline-dark" style="min-width: 60px;" for="{{ size }}">{{ size }}</label>
                  {% endfor %}
                </div>
              </div>

              <div class="col mt-4 border-bottom" style="max-width: 640px; margin: auto;">
                <div class="row" style="margin: 0px 15px; min-width: 240px;">
                  <button class="btn w-100 collapsed"
                    style="text-align: left; width:auto; color: #262626; background-color: transparent; border-color: transparent;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#sizesTable"
                    aria-expanded="false" aria-controls="sizesTable">
                    Таблица размеров
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg>
                  </button>
                </div>
                <div class="sizes-table-container collapse" id="sizesTable">
                  <div class="container">

                    <div class="table-content">
                      {% if colored_product.product.collection.first.slug == 'hoodie' %}
                        <table style="text-align: center; font-size: small;">
                          <thead style="background: #262626; color: #f6f6f6">
                            <tr>
                              <th></th>
                              <th>S</th>
                              <th>M</th>
                              <th>L</th>
                              <th>XL</th>
                              <th>+/-</th>
                            </tr>
                            <tr>
                              <th>Российский размер</th>
                              <th>44</th>
                              <th>46</th>
                              <th>48-50</th>
                              <th>52</th>
                              <th>1 см</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Длина по спине</td>
                              <td>62,9</td>
                              <td>64,5</td>
                              <td>66,1</td>
                              <td>68,2</td>
                              <td>1 см</td>
                            </tr>
                            <tr>
                              <td>Ширина по груди</td>
                              <td>57</td>
                              <td>59</td>
                              <td>61</td>
                              <td>63</td>
                              <td>1,0</td>
                            </tr>
                            <tr>
                              <td>Длина рукава</td>
                              <td>56</td>
                              <td>57</td>
                              <td>58</td>
                              <td>59</td>
                              <td>1,0</td>
                            </tr>
                            <tr>
                              <td>Длина плеча</td>
                              <td>23</td>
                              <td>23</td>
                              <td>24</td>
                              <td>24,5</td>
                              <td>0,5</td>
                            </tr>
                          </tbody>
                        </table>
                      {% else %}
                        <table style="text-align: center; font-size: small;">
                          <thead style="background: #262626; color: #f6f6f6">
                            <tr>
                              <th></th>
                              <th>S-M</th>
                              <th>M-L</th>
                              <th>L-XL</th>
                            </tr>
                            <tr>
                              <th>Российский размер</th>
                              <th>48-50</th>
                              <th>50-52</th>
                              <th>52-54</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Длина по спине</td>
                              <td>63,9</td>
                              <td>70,1</td>
                              <td>73,2</td>
                            </tr>
                            <tr>
                              <td>Ширина по груди</td>
                              <td>54</td>
                              <td>58</td>
                              <td>62</td>
                            </tr>
                            <tr>
                              <td>Длина рукава</td>
                              <td>17,7</td>
                              <td>18,2</td>
                              <td>18,7</td>
                            </tr>
                            <tr>
                              <td>Длина плеча</td>
                              <td>21</td>
                              <td>22</td>
                              <td>24</td>
                            </tr>
                          </tbody>
                        </table>
                      {% endif %}
                    </div>

                  </div>
                </div>
              </div>
              </br>

              <!--  template starts  -->
              <div class="widget-form__background"></div>
              <div class="a4-widget-main" style="display: block;">
                  <div class="widget-container">
                      <div class="widget-container__header">
                          <div class="widget-header__left-part">
                              <span class="widget-header__amount">XXX,XX ₽</span>
                              <div class="widget-discount__container">
                                  <span class="widget-header__discount">XXX,XX ₽</span>
                                  <img class="widget-header__percent" src="https://cdn.podeli.ru/common-img/circle-alert.svg"
                                      alt="Значок процента">
                                  <div class="widget-header__cloud">
                                      <span class="widget-cloud__text">Скидка XXX ₽ для новых клиентов Подели</span>
                                  </div>
                              </div>
                          </div>
                          <div class="widget-header__right-part">
                              <img class="widget-container__logo"
                                  src="https://cdn.podeli.ru/common-img/logo-with-text.svg" alt="логотип">
                          </div>
                      </div>
                      <div class="widget-container__content">
                          <div class="widget-content__parts">
                              <div class="widget-content__part widget-content__part_active">
                                  <div id="quarter-1" class="widget-part__date">Сегодня</div>
                                  <span class="widget-part__amount"></span>
                              </div>
                              <div class="widget-content__part">
                                  <div id="quarter-2" class="widget-part__date">Через 2 недели</div>
                                  <span class="widget-part__amount"></span>
                              </div>
                              <div class="widget-content__part">
                                  <div id="quarter-3" class="widget-part__date">Через 4 недели</div>
                                  <span class="widget-part__amount"></span>
                              </div>
                              <div class="widget-content__part">
                                  <div id="quarter-4" class="widget-part__date">Через 6 недель</div>
                                  <span class="widget-part__amount"></span>
                              </div>
                          </div>
                      </div>
                      <div class="widget-container__footer">
                          <div class="widget-footer__info">
                              <span class="widget-header__info-text">Без комиссий и переплат</span>
                              <img class="widget-header__info-img" src="https://cdn.podeli.ru/common-img/circle-alert.svg"
                                  alt="Информация">
                          </div>
                          <button class="widget-footer__button-main">Оплатить по частям</button>
                      </div>

                      <div class="widget-form">
                          <img class="widget-form__img_close"
                              src="https://cdn.podeli.ru/common-img/form_close_button.svg" alt="значок закрытия">
                          <div class="widget-form__block-1">
                              <img class="widget-block-1__img" src="https://cdn.podeli.ru/common-img/podeli-logo-big.svg"
                                  alt="логотип Подели">
                              <span class="widget-block-1__text_primary">Оплатите сейчас только 25% стоимости покупки</span>
                              <span class="widget-block-1__text_secondary">Остальное — тремя платежами раз в две недели</span>
                          </div>
                          <div class="widget-form__block-2">
                              <div class="widget-block-2__payment">
                                  <img class="widget-payment__img" src="https://cdn.podeli.ru/common-img/step1-4.svg" alt="">
                                  <div class="widget-payment__line"></div>
                                  <span class="widget-block-1__text_primary">25%</span>
                                  <span class="widget-block-2__text_secondary">Платеж сегодня</span>
                              </div>
                              <div class="widget-block-2__payment">
                                  <img class="widget-payment__img" src="https://cdn.podeli.ru/common-img/step2-4.svg" alt="">
                                  <div class="widget-payment__line"></div>
                                  <span class="widget-block-1__text_primary">25%</span>
                                  <span class="widget-block-2__text_secondary">Через 2 недели</span>
                              </div>
                              <div class="widget-block-2__payment">
                                  <img class="widget-payment__img" src="https://cdn.podeli.ru/common-img/step3-4.svg" alt="">
                                  <div class="widget-payment__line"></div>
                                  <span class="widget-block-1__text_primary">25%</span>
                                  <span class="widget-block-2__text_secondary">Через 4 недели</span>
                              </div>
                              <div class="widget-block-2__payment">
                                  <img class="widget-payment__img" src="https://cdn.podeli.ru/common-img/step4-4.svg" alt="">
                                  <span class="widget-block-1__text_primary">25%</span>
                                  <span class="widget-block-2__text_secondary">Через 6 недель</span>
                              </div>
                          </div>
                          <div class="widget-form__block-3">
                              <span class="widget-block-3__text">Это бесплатно. Никаких дополнительных платежей и процентов — как обычная оплата картой</span>
                          </div>
                          <div class="widget-form__block-4">
                              <span class="widget-block-4__text_primary">Подробнее на <span
                                      class="widget-block-4__text_primary-decoration">podeli.ru</span></span>
                              <span class="widget-block-4__text_secondary">ООО А-4 Технологии, ОГРН 1227700064734<br/>115432, Россия, г. Москва, пр. Андропова, д.18, к. 3, этаж/помещ./ ком. 9/XIV/1.</span>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- template ends -->

              <input type="hidden" name="add_to_cart" />
              <div class="buttons d-flex flex-row mt-5">
                <button type="submit" class="btn btn-dark" style="background: #262626;"><b>Добавить в корзину</b></button>
              </div>
            </form>

            <div class="col">

              {% if other_variations.1 %}
                <div class="col mt-5 border-bottom" style="max-width: 640px; margin: auto;">
                  <div class="row" style="margin: 0px 15px; min-width: 240px;">
                    <button class="btn w-100 collapsed"
                      style="text-align: left; width:auto; color: #262626; background-color: transparent; border-color: transparent;"
                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample">
                      Другие вариации
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                      </svg>
                    </button>
                  </div>
                  <div class="variations collapse show" id="collapseExample">
                    <div class="container variations-container p-1">
                      {% for product_color in other_variations %}
                        <div class="fade-in card p-3 m-0 {% if product_color == colored_product %}current-variation{% endif %}">
                          <div class="productBackground">
                            <a class="product-link" href="{% url 'product_page' product_color.product.slug product_color.slug %}">
                              {% thumbnail product_color.variation.image "142x200" crop="center" as im %}
                                <img src="{{ product_color.variation.image.url }}" alt="{{ product_color.variation.description }} {{ product_color }}"
                                  width="142" height="200"
                                  style="display: inherit; width: auto;"
                                  loading="lazy" />
                              {% endthumbnail %}
                            </a>
                          </div>
                          <a href="{% url 'product_page' product_color.product.slug product_color.slug %}"
                            style="text-align: left; font-size: 16px; text-decoration: none;">
                            <div class="info">
                              <div class="productName">
                                <h1 class="big"><div>{{ product_color.variation.name }}</div></h1>
                              </div>
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="col mt-5 border-bottom" style="max-width: 640px; margin: auto;">
                <div class="row" style="margin: 0px 15px; min-width: 240px;">
                  <button class="btn w-100"
                    style="text-align: left; width:auto; color: #262626; background-color: transparent; border-color: transparent;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#variationDetails"
                    aria-expanded="true" aria-controls="variationDetails">
                    Характеристики
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg>
                  </button>
                </div>
                <div class="variations collapse show" id="variationDetails">
                  <div class="container p-5" style="text-align: center;">
                    {{ colored_product.variation.description }}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
  <script src="https://cdn.podeli.ru/Default-item-card-widget/podeli-widget.js"></script>
  <script>
    Podeli.init({
      total: {{ colored_product.get_podeli_overall_price }},
    })
  </script>
{% endblock scripts %}
