
{% load product_filters %}
{% load thumbnail %}
{% load i18n %}

<div class="product-cards-container container p-0">
  {% for product_color in colored_products %}

    <div class="fade-in card">
      {% if product_color.is_disabled %}
        <div class="productDisabled" style="">
          <span style="">{{ product_color.status }}</span>
        </div>
      {% endif %}
      <div class="productBackground">
        <span class="new">{% trans "Новинка" %}</span>
        {% with discount=product_color|get_discount %}
          {% if discount > 0 %}
            <span class="discount">-{{ discount }} %</span>
          {% endif %}
        {% endwith %}

        <a class="product-link" href="{% url 'product_page' product_color.product.slug product_color.slug %}">
          {% for img in product_color.get_two_first_images %}
            {% thumbnail img.image "644x900" crop="center" as im %}
              <img src="{{ im.url }}" alt="{{ img.description }}"
                width="322" height="450"
                class="productImg"
                loading="lazy" />
            {% endthumbnail %}
          {% endfor %}
        </a>
      </div>

      <a href="{% url 'product_page' product_color.product.slug product_color.slug %}"
        style="text-align: left; font-size: 16px; text-decoration: none;">
        <div class="info" {% if product_color.is_disabled %}style="color: #d1d1d1;"{% endif %}>
          <div class="productName">
            <h1 class="big"><div>{{ product_color.product.name }}</div></h1>
          </div>
          <div class="buy-price price">
            {% if product_color.old_price is not none %}
              <span class="old_price">{{ product_color.old_price.normalize }} {% trans "₽" %}<br></span>
            {% endif %}
            <span class="new_price">{{ product_color.price.normalize }} {% trans "₽" %}</span>
          </div>
        </div>
        <div class="podeli-container" style="">
          <div class="podeli-outter-circle">
            <div class="podeli-segment-circle">
            </div>
            <div class="podeli-inner-circle">
            </div>
          </div>
          <span class="podeli_text">Подели по</span>
          <span class="podeli_price">{{ product_color.get_podeli_price }} {% trans "₽" %}</span>
        </div>
      </a>

    </div>

  {% endfor %}

</div>
{% comment %}
  <script src="{% static 'js/app.js' %}"></script>
{% endcomment %}
