{% extends 'homepage.html' %}

{% load product_filters %}

{% load static i18n thumbnail %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Product Details CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/product/product_details.css' %}">
  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}

  <div class="container mb-5" style="padding: 0;">
    <div class="product_details_card pb-3" style="overflow: visible;">
      <div class="row g-0">
        <div class="col-md-8 border-end justify-content-center" style="display: flex;">
          <div class="carousel-indicators-container"></div>

          <div class="left-side d-flex flex-row justify-content-center" style="padding: 15px 0;">
            <div id="KirumiCarouselDark" class="carousel carousel-dark slide pointer-event" data-bs-ride="carousel" style="max-width:500px;">

              <div class="carousel-indicators">
                {% for image in images %}
                  <button type="button" data-bs-target="#KirumiCarouselDark" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}">
                    {% thumbnail image.image "100x140" crop="center" as im %}
                      <img style="display:block;"
                        src="{{ im.url }}"
                        width="100"
                      />
                    {% endthumbnail %}
                  </button>
                {% endfor %}
              </div>

              <div class="carousel-inner">
                {% for image in images %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% thumbnail image.image "500x700" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ img.description }}"
                        class="d-block w-100"
                        height="700"
                        loading="lazy" />
                    {% endthumbnail %}
                  </div>
                {% endfor %}
              </div>

              <a class="carousel-control-prev" data-bs-target="#KirumiCarouselDark" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" data-bs-target="#KirumiCarouselDark" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="right-side">
            <div class="pr-3 content">
              <p class="description my-0 py-0">
                {{ colored_product.product.collection.first }}
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <h3>{{ colored_product.product.name }}</h3>
            </div>
            <div class="mt-2 mb-4 pr-3 content">
              <p class="description">
                {{ colored_product.product.description }}
              </p>
            </div>

            <div class="mt-3">
              {% if colored_product.old_price is not none %}
                <h3 class="old_price">{{ colored_product.old_price.normalize }} {% trans "₽" %}</h3>
              {% endif %}
              <h3 class="new_price">{{ colored_product.price.normalize }} {% trans "₽" %}</h3>
            </div>

            {% if colored_product.product.colors.all|is_active|distinct_colors|length > 1 %}
              <div class="color-container mt-5">
                <h3 class="title">Другие цвета товара</h3>
                <div class="colors">
                  {% for color in colored_product.product.colors.all|is_active|distinct_colors %}
                    <a class="colored-product-link" style="color: #{{ color.color_hex_code }};"
                      href="{% url 'product_page' color.product.slug color.slug %}">
                      <span class="color {% if color.color_hex_code == colored_product.color_hex_code %}active{% endif %}"
                        primary="#{{ color.color_hex_code }}" color="{{ color.name }}"
                        style="{% if color == product_color %}border-color: #{{ color.color_hex_code }};{% endif %}
                        background: #{{ color.color_hex_code }};"></span>
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="color-container mt-5"></div>
            {% endif %}

            <form class="mt-3" action="{% url 'product_page' colored_product.product.slug colored_product.slug %}"
              method="post">
              {% csrf_token %}

              <h3 class="title my-3">Выберите размер</h3>
              <div class="pr-3 content">
                <div class="btn-group btn-group-lg" style="" role="group" aria-label="Basic radio toggle button group">
                  {% for size in colored_product.product.sizes.all|is_active %}
                    <input type="radio" class="btn-check" name="size" id="{{ size }}" value="{{ size }}" required>
                    <label class="btn btn-outline-dark" style="min-width: 60px;" for="{{ size }}">{{ size }}</label>
                  {% endfor %}
                </div>
              </div>

              <div class="col mt-4 border-bottom" style="max-width: 640px; margin: auto;">
                <div class="row" style="margin: 0px 15px; min-width: 240px;">
                  <button class="btn w-100 collapsed"
                    style="text-align: left; width:auto; color: #262626; background-color: transparent; border-color: transparent;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#sizesTable"
                    aria-expanded="false" aria-controls="sizesTable">
                    Таблица размеров
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg>
                  </button>
                </div>
                <div class="sizes-table-container collapse" id="sizesTable">
                  <div class="container">

                    <div class="table-content">
                      <table>
                        <thead>
                          <tr>
                            <th></th>
                            <th>S</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>+/-</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Длина по спине</td>
                            <td>62,9</td>
                            <td>64,5</td>
                            <td>66,1</td>
                            <td>68,2</td>
                            <td>1 см</td>
                          </tr>
                          <tr>
                            <td>Ширина по груди</td>
                            <td>57</td>
                            <td>59</td>
                            <td>61</td>
                            <td>63</td>
                            <td>1,0</td>
                          </tr>
                          <tr>
                            <td>Длина рукава</td>
                            <td>56</td>
                            <td>57</td>
                            <td>58</td>
                            <td>59</td>
                            <td>1,0</td>
                          </tr>
                          <tr>
                            <td>Длина плеча</td>
                            <td>23</td>
                            <td>23</td>
                            <td>24</td>
                            <td>24,5</td>
                            <td>0,5</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>

              <input type="hidden" name="add_to_cart" />
              <div class="buttons d-flex flex-row mt-5">
                <button type="submit" class="btn btn-dark" style="background: #262626;"><b>Добавить в корзину</b></button>
              </div>
            </form>

            <div class="col">

              {% if other_variations.1 %}
                <div class="col mt-5 border-bottom" style="max-width: 640px; margin: auto;">
                  <div class="row" style="margin: 0px 15px; min-width: 240px;">
                    <button class="btn w-100 collapsed"
                      style="text-align: left; width:auto; color: #262626; background-color: transparent; border-color: transparent;"
                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample">
                      Другие вариации
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                      </svg>
                    </button>
                  </div>
                  <div class="variations collapse show" id="collapseExample">
                    <div class="container variations-container p-1">
                      {% for product_color in other_variations %}
                        <div class="fade-in card p-3 {% if product_color == colored_product %}current-variation{% endif %}">
                          <div class="productBackground">
                            <a class="product-link" href="{% url 'product_page' product_color.product.slug product_color.slug %}">
                              {% thumbnail product_color.variation.image "142x200" crop="center" as im %}
                                <img src="{{ product_color.variation.image.url }}" alt="{{ product_color.variation.description }} {{ product_color }}"
                                  width="142" height="200"
                                  style="display: inherit; width: auto;"
                                  loading="lazy" />
                              {% endthumbnail %}
                            </a>
                          </div>
                          <a href="{% url 'product_page' product_color.product.slug product_color.slug %}"
                            style="text-align: left; font-size: 16px; text-decoration: none;">
                            <div class="info">
                              <div class="productName">
                                <h1 class="big"><div>{{ product_color.variation.name }}</div></h1>
                              </div>
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="col mt-5 border-bottom" style="max-width: 640px; margin: auto;">
                <div class="row" style="margin: 0px 15px; min-width: 240px;">
                  <button class="btn w-100"
                    style="text-align: left; width:auto; color: #262626; background-color: transparent; border-color: transparent;"
                    type="button" data-bs-toggle="collapse" data-bs-target="#variationDetails"
                    aria-expanded="true" aria-controls="variationDetails">
                    Характеристики
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg>
                  </button>
                </div>
                <div class="variations collapse show" id="variationDetails">
                  <div class="container p-5" style="text-align: center;">
                    {{ colored_product.variation.description }}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
