{% extends 'homepage.html' %}

{% load static %}
{% load i18n %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
  h2, .container{
    text-align: center;
  }
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}
<h2 class="fade-in p-2 my-5">{% trans "ВОЗВРАТ-ОБМЕН" %}</h2>
<div class="container mb-5">
  Оформление обмена, возврата товара:</br>
  <br>
  О своем решении вернуть или обменять товар Вы должны сообщить по электронному адресу: <a href="mailto:info@kirumi.ru">info@kirumi.ru</a> до его отправки.</br>
  <br>
  Без предварительного предупреждения о возврате на указанную почту, без сообщения номера накладной (для отслеживания отправления и установке сроков возврата), а также без уточнения адреса для приёма возврата - подобные неизвестные посылки востребованы не будут.</br>
  <br>
  Возврат денежных средств осуществляется в течении 1-7 рабочих дней после получения нами товара.</br>
  <br>
  Если возврат или обмен произошел по нашей вине (производственный брак, выслана модель другого артикула) все расходы по доставке и пересылке товара мы возьмем на себя.</br>
  <br>
  В иных случаях - доставка оплачивается покупателем самостоятельно.</br>
  <br>
  При оплате банковской картой возврат наличными денежными средствами не допускается.</br>
  <br>
  Порядок возврата регулируется правилами международных платежных систем.
  <br>
</div>
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
