{% extends 'homepage.html' %}

{% load static %}
{% load i18n %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block style %}
.product-cards-container.container{
  margin: auto;
  padding: 0px;
}
.nav-item.active .nav-link{
  color: #262626!important;
}
.nav-item.active::after{
  background: #262626!important;
  width: 100%!important;
}
.card{
  margin: 0;
}
@media (max-width: 768px){
  .productImg {
    max-width: 190px;
  }
}
@media (max-width: 425px){
  .productImg {
    max-width: 40vw;
  }
}
{% endblock style %}

{% block intro %}
{% endblock intro %}

{% block content %}
  <div class="container">
    <h2 class="fade-in p-3 my-3">{% trans "Новинки" %}</h2>
  </div>
  <div class="container mb-5">
    <div class="col m-0 p-0">
      {% include 'product/products_wrapper.html' %}
    </div>
  </div>
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
