{% extends 'homepage.html' %}

{% load static %}
{% load i18n %}

{% block header %}

  <!--===============================================================================================-->
    <!-- Card CSS style -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
  <!--===============================================================================================-->

{% endblock header %}

{% block intro %}
{% endblock intro %}

{% block content %}
  <div class="container">
    <h2 class="fade-in p-3 my-3">{% trans "Новинки" %}</h2>
  </div>
  {% include 'product/products_wrapper.html' %}
{% endblock content %}

{% block prefooter %}
{% endblock prefooter %}

{% block scripts %}
{% endblock scripts %}
